body {
    margin: 0px;
    width: 100%;
    background-color: #ffffff;
}

/* template editor */
#template_editor {
    height: 40px;
    background: #333333;
}

.left-btn-container {
    float: left;
    width: 34px;
    height: 34px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 4px;
}

.left-btn-container > img {
    cursor: pointer;
}

.right-btn-container {
    position: absolute;
    right: 4px;
    width: 34px;
    height: 34px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 4px;
}

.right-btn-container > img {
    cursor: pointer;
}


#toolbar_nav_title_container {
    width: 600px;
    color: #ffffff;
    line-height: 40px;
    margin-right: 80px;
    text-align: right;
    float: right;
}

#toolbar_nav_title_container > a {
    cursor: pointer;
    color: #ffffff;
    margin: 0 15px;
}

#toolbar_nav_title_container > .selected {
    border-bottom: solid 1px;
}

/* template editor end */

/* common nav */
nav {
    height: 60px;
}

.common-nav-menu {
    width: 500px;
    height: 60px;
    margin: 0px auto;
}

.common-nav-menu > .common-nav-title {
    text-align: center;
    line-height: 60px;
}

.common-nav-menu > .common-nav-title > .nav-title-item {
    margin: 0px 30px;
}
/* common nav end */

/* common footer */
footer {
    height: 60px;
}

.common-footer-menu {
    width: 400px;
    height: 60px;
    margin: 0px auto;
}

.common-footer-menu > .common-footer-title {
    text-align: center;
    line-height: 60px;
}

.common-footer-menu > .common-footer-title > input {
    text-align: center;
    color: #000000;
    line-height: 30px;
}
/* common footer end */

/* common page */
div.common-page-container {
    width: 100%;
    min-width: 1100px;
    min-height: 700px;
    margin: 0px;
}
/* common page end */

/* 파일 업로드 버튼 안보이도록 작업 */
.hided-input-file-btn {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 45px;
    opacity: 0;
}