@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family:'PalatinoRoman';
    src: url('/fonts/PalatinoRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.home-content-container {
    height: 800px;
    padding-top: 150px;
}

.home-title {
    width: 300px;
    height: 120px;
    margin: auto;
    line-height: 120px;
    text-align: center;
}

.home-image-container {
    text-align:center;
    display: block;
    width: 1080px;
    margin: 10px auto;
}

.home-image-box {
    width: 250px;
    height: 200px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 10px 10px;
}