@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family:'BigJohn';
    src: url('/fonts/BigJohn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'SlimJoe';
    src: url('/fonts/SlimJoe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    /*background: url('/images/template2/temp2_background.png') no-repeat;*/
    /*background-size: cover;*/
}

/* template nav */
nav {
    height: 143px;
    border-bottom: 7px solid;
}

.template-nav-left-title {
    display: block;
    float: left;
    height: 143px;
    padding-left: 47px;
    padding-top: 70px;
    font-family: BigJohn;
    font-size: 36px;
}

.template-nav-left-title > input {
    width: 400px;
}

.template-nav-menu {
    display: block;
    width: 600px;
    height: 143px;
    padding-top: 90px;
    float: right;
}

.template-nav-menu > .template-nav-title {
    text-align: right;
    margin-right: 47px;
    line-height: 20px;
}

.template-nav-menu > .template-nav-title > .nav-title-item {
    cursor: pointer;
    text-decoration: none;
    width: 120px;
    margin: 0px 20px;
    font-family: SlimJoe;
    font-size: 20px;
    color: #000000;
}

.template-nav-menu > .template-nav-title > .selected {
    border-bottom: solid 1px;
}
/* template nav end */

/* template footer start */

footer {
    min-width: 1100px;
    background: #000000;
}

footer > .common-footer-menu > .common-footer-title {
    font-family: SlimJoe;
    font-size: 10px;
    color: #ffffff;
}

/* template footer end */

.background-image-change-btn {
    position: absolute;
    font-family: BigJohn;
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.background-image-change-btn > img {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
}

/* 파일 업로드 버튼 안보이도록 작업 */
.background-file-upload-btn {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 45px;
    opacity: 0;
}

.image-file-upload-btn {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 45px;
    opacity: 0;
}

i.image-change-btn {
    cursor: pointer;
    background-image: url("/images/template2/temp2_edit_icon01.png");
    background-size: 30px;
    position: absolute;
    margin-top: 4px;
    margin-left: 4px;
    width: 30px;
    height: 30px;
}

.home-content-container {
    height: 700px;
}

.home-content-container > .home-content-box {
    width: 460px;
    height: 300px;
    float: right;
    margin-top: 150px;
    padding: 35px;
    background: rgba(255, 255, 255, 0.3);
}

.home-content-box > p {
    font-family: BigJohn;
    font-size: 27px;
    line-height: 40px;
    margin: 15px 0px;
}

.home-image-container {
    text-align:center;
    display: block;
    width: 1080px;
    margin: 25px auto;
}

.home-image-container > .home-image-box {
    display: inline-block;
    width: 326px;
    height: 176px;
    margin: 0px 10px;
    overflow: hidden;
}

.home-image-box > .view-image-item > img {
    width: 326px;
    height: auto;
}
