@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family:'PalatinoRoman';
    src: url('/fonts/PalatinoRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.home-content-container {
    height: 800px;
    padding-top: 150px;
}

.home-title {
    width: 300px;
    height: 120px;
    margin: auto;
    line-height: 120px;
    text-align: center;
}

.home-image-container {
    text-align:center;
    display: block;
    width: 1080px;
    margin: 10px auto;
}

.home-image-box {
    width: 250px;
    height: 200px;
    cursor: pointer;
    display: block;
    float: left;
    margin: 10px 10px;
}
 body{
     width:100%;
     height: 3500px;
     background-image: url("/images/template3/temp_03_bg.png");
     background-size: 100% 100%;
 }

.first{
    width:100%;
    height: 830px;
    display: block;
}

.second{
    width:100%;
    height: 980px;
    display: block;
}

.third{
    width:100%;
    height: 990px;
    display: block;

}

.footer{
    width: 100%;
    height: 100px;
    display: block;
    background-color: rgba(255,255,255,0.2);
    text-align: center;
    margin-top: 40px;
}
.footer span{
    font-family: Roboto-M;
    font-size: 14px;
    line-height: 100px;
    color: #ffffff;
    text-align: center;
}

/*
first classes
*/

/*
second classes
*/
.sec_comment{
    font-family: Roboto-thin;
    font-size: 26px;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    margin-left: auto;
    margin-left: auto;
    text-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
}

.sec_picture_box{
    width: 1020px;
    height: 680px;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}

.sec_firstPhoto{
    height: 500px;
    width: 500px;
    position: absolute;
}
.sec_secondPhoto{
    height: 240px;
    width: 500px;
    position: absolute;
    margin-left: 520px;
}
.sec_thirdPhoto{
    height: 240px;
    width: 500px;
    position: absolute;
    margin-left: 520px;
    margin-top:260px
}
.sec_fourthPhotos{
    height: 160px;
    width: 1200px;
    position: absolute;
    margin-left: 0px;
    margin-top: 520px;
}
.sec_fourthPhotos ul{
    list-style-type: none;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px 0px;
}
.sec_fourthPhotos li{
    width: 240px;
    height: 160px;
    display: inline-block;
    margin-right: 16px;
}


/*
third classes
*/

/*
footer classes
*/