@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family:'BigJohn';
    src: url('/fonts/BigJohn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'SlimJoe';
    src: url('/fonts/SlimJoe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* template nav */
nav {
    height: 143px;
}

.template-nav-left-title {
    display: block;
    float: left;
    height: 143px;
    padding-left: 47px;
    padding-top: 79px;
    font-family: BigJohn;
    font-size: 36px;
}

.template-nav-menu {
    display: block;
    width: 360px;
    height: 60px;
    float: right;
}

.template-nav-menu > .template-nav-title {
    text-align: center;
    line-height: 60px;
}

.template-nav-menu > .template-nav-title > .nav-title-item {
    margin: 0px 10px;
}
/* template nav end */

.home-content-container {
    height: 800px;
}

.home-content-container > .home-content-box {
    width: 460px;
    height: 330px;
    float: right;
    margin-top: 150px;
}

.home-image-container {
    text-align:center;
    display: block;
    width: 1080px;
    margin: 10px auto;
}
