<footer id="footer_menu">
    <img id="footer_logo_image" src="/images/myfolio_logo.png" class="footer-logo" />
    <section class="footer-content">
        This is test.
    </section>
    <section class="footer-copyright">
        © 2015 MyFolio
    </section>
    <div class="footer-team">
        <a href="/aboutus" class="footer-aboutus">
            About MyFolio
        </a></br>
        <a href="/cotactus" class="footer-contactus">
            Contact us
        </a>
    </div>
</footer>