<footer id="footer_menu">
    <img id="footer_logo_image" src="/images/myfolio_logo.png" class="footer-logo" />
    <div class="footer-team">
        <a href="/aboutus" class="footer-aboutus">
            About MyFolio
        </a><br>
        <a href="/contactus" class="footer-contactus">
            Contact us
        </a>
    </div>
    <section class="footer-content">
        <div class="footer-content-container">
            MyFolio is a leading cloud-based web development platform with millions of users worldwide.<br>
            We make it simple for everyone to create a beautiful, professional web presence.<br>
            No creative limits, no coding skills needed to get your business online.<br>
        </div>
    </section>
    <section class="footer-copyright">
        © 2015 MyFolio
    </section>
</footer>