<!-- 회원가입 모달 -->
<div id="join_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="join_modal_title" class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input id="join_modal_input_id" type="text" placeholder="Email _ myfolio@gmail.com"/>
                </div>
                <div>
                    <input id="join_modal_input_pw" type="password" placeholder="Password"/>
                </div>
                <div>
                    <input id="join_modal_input_pw_confirm" type="password" placeholder="Confirm Password"/>
                </div>
                <div>
                    <input id="join_modal_input_name" type="text" placeholder="Name"/>
                </div>
                <div id="join-error-msg" class="hide">
                </div>
            </div>
            <div class="modal-footer">
                <button id="join_modal_join_btn" type="button" class="modal-big-btn">SIGN UP</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->