<!-- 회원가입 모달 -->
<div id="join_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label> ID </label>
                    <input id="join_modal_input_id" type="text" />
                </div>
                <div>
                    <label> PW </label>
                    <input id="join_modal_input_pw" type="password" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="join_modal_join_btn" type="button" class="btn btn-primary">가입하기</button>
                <a href="#login_modal" class="btn btn-lg btn-primary" data-toggle="modal" data-dismiss="modal">취소</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->