<!-- 로그인 모달 -->
<div id="login_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="login_modal_title" class="modal-title">Sign In</h4>
            </div>
            <div class="modal-body">
                <div>
                    <input id="login_modal_input_id" type="text" placeholder="Email _ myfolio@gmail.com" />
                </div>
                <div>
                    <input id="login_modal_input_pw" type="password" placeholder="Password" />
                </div>
                <div class="login-password-container">
                    <a id="login_signup_btn" href="#join_modal" data-toggle="modal" data-dismiss="modal">Sign Up</a>
                    <a id="login_forgot_password_btn">Forgot Password?</a>
                </div>
            </div>
            <div class="modal-footer">
                <button id="login_modal_login_btn" type="button" class="modal-big-btn">SIGN IN</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->