<div class="main-nav-container">
    <nav id="nav_menu">
        <div class="nav-logo">myFolio</div>
        <div class="nav-profile">
            <% if (typeof userName !== "undefined") { %>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <%= userName %>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                </ul>
            </div>
            <% } else { %>
            <a href="#login_modal" class="btn btn-lg btn-primary" data-toggle="modal">Login</a>
            <% } %>
        </div>
    </nav>
</div>

