@import url(http://fonts.googleapis.com/css?family=Roboto);
@font-face {
    font-family:'PalatinoRoman';
    src: url('/fonts/PalatinoRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    background-color: #ffffff;
}

.main-nav-container {
    width: 100%;
    min-width: 1100px;
    height: 50px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    background-color: #ffffff;
    margin: 0px;
    display: block;
}

.main-page-container {
    width: 100%;
    min-width: 1100px;
    min-height: 700px;
    margin: 0px;
}

.main-image-container {
    display: block;
    width: 1100px;
    height: 400px;
    overflow: hidden;
}

.main-page-template-container {
    display: block;
    z-index: 10;
    min-height: 200px;
    background-color: #ffffff;
    position: relative;
}

.nav-profile-item {
    display: block;
    float: left;
}

#nav_menu {
    width: 1100px;
    height: 50px;
    background-color: #ffffff;
    margin: 0 auto;
}

nav .nav-logo {
    position: absolute;
    left: 57px;
    float: left;
    display: block;
    margin-top: 5px;
    height: 40px;
}

nav .nav-profile {
    float: right;
    display: block;
    line-height: 50px;
    margin-right: 57px;
}

nav .nav-user {
    width: 120px;
}

#nav_start_btn {
    width: 60px;
    font-family: 'Roboto';
    font-size: 16px;
}

#nav_login_btn {
    width: 60px;
    font-family: 'Roboto';
    font-size: 16px;
}


.main-image-container .main-image {
    position: absolute;
    vertical-align: middle;
    max-width: none!important;
    width: 100%;
    min-width: 1100px;
    min-height: 400px;
    overflow: hidden;
}

.main-image-container .main-content {
    display: block;
    position: absolute;
    margin-top: 88px;
    margin-left: 57px;
    z-index: 5;
}

.main-image-container .main-content-start-btn {
    display: block;
    position: absolute;
    width: 167px;
    heigth: 58px;
    text-align: center;
    line-height: 58px;
    margin-top: 171px;
    right: 57px;
    z-index: 5;
    background: url('/images/myfolio_start_btn.png');
}

.main-content-big-text {
    font-family: PalatinoRoman;
    font-size: 47px;
    line-height: 72px;
    color: #ffffff;
}

.main-content-small-text {
    font-family: PalatinoRoman;
    font-size: 18px;
    color: #ffffff;
}


.main-content > h1 {
    display: block;
    margin-top: -22px;
}

.main-content > h2 {
    display: block;
    margin-top: -22px;
}

.main-content-start-btn > .start-portfolio {
    font-family: PalatinoRoman;
    font-size: 24px;
    vertical-align: middle;
    line-height: 30px;
    color: #ffffff;
}