<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
    </head>

    <body>
        <%- include partials/nav.ejs %>
        <% var test = "TEST DATA"; %>
        <div><%= test %></div>
    </body>

</html>