<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
    </head>

    <body>
        <%- include partials/Nav.ejs %>
        <div><%= testData %></div>
    </body>

</html>