<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

        <script src="/javascripts/Main.js"></script>
    </head>

    <body>
        <%- include partials/Nav.ejs %>
        <%- include partials/JoinModal.ejs %>
        <%- include partials/LoginModal.ejs %>
        <div><%= testData %></div>
    </body>

</html>
