<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
        <script src="/javascripts/Main.js"></script>
    </head>

    <body>
        <%- include partials/Nav.ejs %>
        <%- include partials/JoinModal.ejs %>
        <%- include partials/LoginModal.ejs %>
        <div class="main-page-container">
            <div class="main-image-container">
                <img class="main-image" src="<%= mainImage %>" />
                <div class="main-content">

                </div>
            </div>
        </div>


        <input id="file-upload" type="file" name="files[]" data-url="/upload" multiple></div>

</body>

</html>
