<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/stylesheets/main.css"/>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">s
    </head>
    <body>
        <% include partials/Nav.ejs %>
        <% include partials/JoinModal.ejs %>
        <% include partials/LoginModal.ejs %>
        <div class="main-page-container">
            <div class="main-image-container">
                <img class="main-image" src="/images/myfolio_main_screen.png" />
                <div class="main-content">
                    <h1>
                        <span class="main-content-big-text">Create Your</span><br>
                        <span class="main-content-big-text">Stunning Website.</span><br>
                        <span class="main-content-big-text">It's Free</span>
                    </h1>
                    <h2>
                        <span class="main-content-small-text">Easy to customize. No coding.</span>
                    </h2>
                </div>
                <div class="main-content-start-btn">
                    <a class="start-portfolio">Start NOW</a>
                </div>
            </div>

            <div class="main-page-template-container">
                <div class="select-template-title-container">
                    <h2 class="select-template-title"><p>Select a Template</p></h2>
                    <h5 class="select-template-content"><p>Choose yours and create something totally original.</p></h5>
                </div>
                <div class="select-template-container">
                    <% for (var i=0; i<templates.length; i++) { %>
                    <% var template = templates[i]; %>
                        <div class="select-template-box" data-id="<%= template.TEMPLATE_ID %>">
                            <img src="/images/<%= template.THUMB_IMG %>" />
                            <img src="/images/thumb_tag_icon.png" class="tag-icon" />
                            <h4 class="template-tag">
                                <p><%= template.TEMPLATE_DESCRIPTION %></p>
                            </h4>
                        </div>
                    <% } %>
                </div>

                <!--<input id="file-upload" type="file" name="files[]" data-url="/upload" multiple>-->

            </div>
        </div>
        <% include partials/Footer.ejs %>
    </body>

    <% include CommonLib.ejs %>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/Main.js"></script>
</html>
