<% if (typeof isOwner !== "undefined" && isOwner === true) { %>
<div id="template_editor">
    <div class="nav-menu-container"></div>
    <div class="left-btn-container">
        <img id="template_editor_cancel_btn" src="/images/edit_icon_return.png" class="is-edit-mode hide" />
    </div>
    <div id="toolbar_nav_title_container" class="is-edit-mode hide">
        <a class="selected"></a>
        <a></a>
        <a></a>
    </div>
    <div class="right-btn-container">
        <img id="template_editor_modify_btn" src="/images/edit_icon_modify.png" class="is-view-mode" />
        <img id="template_editor_save_btn" src="/images/edit_icon_save.png" class="is-edit-mode hide" />
    </div>
</div>
<% } %>