<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/template/common.css"/>
    <link rel="stylesheet" href="/stylesheets/template/template3.css"/>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/lightbox2/css/lightbox.css">
</head>

<body>
<div id="template3_header">
    <% include ../Toolbar.ejs %>
    <nav>
        <ul class="template-nav-title is-view-mode view-item-parent">
            <li><a href="#first"><div class="nav_title_item" >Home</div></a></li>
            <li><a href="#second"><div class="nav_title_item" >Portfolio</div></a></li>
            <li><a href="#third"><div class="nav_title_item" >Contact</div></a></li>
        </ul>
        <ul class="template-nav-title is-edit-mode edit-item-parent hide">
            <li><input type="text" class="nav_title_item" value="Home"/></li>
            <li><input type="text" class="nav_title_item" value="Portfolio"/></li>
            <li><input type="text" class="nav_title_item" value="Contact"/></li>
        </ul>
    </nav>
</div>
<div class="first">
    <div class="fir_comment is-view-mode view-item">
        <p></p>
        <p>I'M FUCKING COOL SIC</p>
        <p>SICK GEEK NOTORIOUS</p>
        <p></p>
    </div>
    <textarea class="fir_comment is-edit-mode edit-item hide">

        I'M FUCKING COOL SIC
        SICK GEEK NOTORIOUS

    </textarea>
    <div class="fir_img_div">
        <div class="img_base">
            <div class="imgs" class="imgs">
                <img id="left_btn" src="/images/template3/top_mac_arrow_l.png"/>
                <img id="right_btn" src="/images/template3/top_mac_arrow_r.png"/>
                <div class="fir_img_upload_div is-edit-mode hide">
                    <ul>
                        <li>
                            <div class="img_upload_box">
                                <i class="image-change-btn is-edit-mode hide"></i>
                                <input class="image-file-upload-btn hided-input-file-btn is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
                                <a class="view-image-item" data-image="/images/template3/top_mac_foilo_pic_01.png" data-lightbox="page1_lightbox">
                                    <img id="img_item1" class="edit-image-item"/>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img_upload_box">
                                <i class="image-change-btn is-edit-mode hide"></i>
                                <input class="image-file-upload-btn hided-input-file-btn is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
                                <a class="view-image-item" data-image="/images/template3/top_mac_foilo_pic_02.png" data-lightbox="page1_lightbox">
                                    <img id="img_item2" class="edit-image-item"/>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="img_upload_box">
                                <i class="image-change-btn is-edit-mode hide"></i>
                                <input class="image-file-upload-btn hided-input-file-btn is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
                                <a class="view-image-item" data-image="/images/template3/top_mac_foilo_pic_03.png" data-lightbox="page1_lightbox">
                                    <img id="img_item3" class="edit-image-item"/>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="second">
    <div class="sec_comment is-view-mode view-item" >
        <p> </p>
        <p>IT'S MY FOLIO</p>
        <p>로맨틱, <strong>성공적</strong>, 환상적</p>
        <p> </p>
    </div>
    <textarea class="sec_comment is-edit-mode edit-item hide" style="height: 200px">

        IT'S MY FOLIO
        로맨틱, 성공적, 환상적

    </textarea>
    <div class="sec_img_container">
        <div class="sec_firstPhoto">
            <i class="image-change-btn is-edit-mode hide"></i>
            <input class="image-file-upload-btn hided-input-file-btn2 is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
            <a class="view-image-item" data-image="/images/template3/middle_folio_pic_01.png" data-lightbox="page1_lightbox">
                <img class="edit-image-item"/>
            </a>
        </div>
        <div class="sec_secondPhoto">
            <i class="image-change-btn is-edit-mode hide"></i>
            <input class="image-file-upload-btn hided-input-file-btn2 is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
            <a class="view-image-item" data-image="/images/template3/middle_folio_pic_02.png" data-lightbox="page1_lightbox">
                <img class="edit-image-item"/>
            </a>
        </div>
        <div class="sec_thirdPhoto">
            <i class="image-change-btn is-edit-mode hide"></i>
            <input class="image-file-upload-btn hided-input-file-btn2 is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
            <a class="view-image-item" data-image="/images/template3/middle_folio_pic_03.png" data-lightbox="page1_lightbox">
                <img class="edit-image-item"/>
            </a>
        </div>
        <div class="sec_fourthPhotos">
            <ul>
                <li>
                    <i class="image-change-btn is-edit-mode hide"></i>
                    <input class="image-file-upload-btn hided-input-file-btn2 is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
                    <a class="view-image-item" data-image="/images/template3/middle_folio_pic_04.png" data-lightbox="page1_lightbox">
                        <img class="edit-image-item" style="width: 240px"/>
                    </a>
                </li>
                <li>
                    <i class="image-change-btn is-edit-mode hide"></i>
                    <input class="image-file-upload-btn hided-input-file-btn2 is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
                    <a class="view-image-item" data-image="/images/template3/middle_folio_pic_05.png" data-lightbox="page1_lightbox">
                        <img class="edit-image-item" style="width: 240px"/>
                    </a>
                </li>
                <li>
                    <i class="image-change-btn is-edit-mode hide"></i>
                    <input class="image-file-upload-btn hided-input-file-btn2 is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
                    <a class="view-image-item" data-image="/images/template3/middle_folio_pic_06.png" data-lightbox="page1_lightbox">
                        <img class="edit-image-item" style="width: 240px"/>
                    </a>
                </li>
                <li>
                    <i class="image-change-btn is-edit-mode hide"></i>
                    <input class="image-file-upload-btn hided-input-file-btn2 is-edit-mode hide" type="file" name="files[]" data-url="/ajax/upload">
                    <a class="view-image-item" data-image="/images/template3/middle_folio_pic_07.png" data-lightbox="page1_lightbox">
                        <img class="edit-image-item" style="width: 240px"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="third">
    <div id="tem3_third_text">
        <div>
            <p>about me</p>
            <p>cool awesome notorious</p>
        </div>
    </div>

    <div id="tem3_item3">
        <ul>
        <li id="tem3_fr"><div class="tem3_txt">
            <div class="tem3_img"><img src="/images/template3/bottom_ability_icon.png" style="width: 150px"/></div>
            <div class="tem3_header">visual experience design</div>
            <div class="tem3_article">한번뿐인 인생 이렇게 살 수 없어<br/>바람처럼 왔다 이슬 처럼 갈 수 없어<br/>You Know?</div>
        </div></li>

        <li><div class="tem3_txt">
            <div class="tem3_img"><img src="/images/template3/bottom_ability_icon.png" style="width: 150px"/></div>
            <div class="tem3_header">visual experience design</div>
            <div class="tem3_article">한번뿐인 인생 이렇게 살 수 없어<br/>바람처럼 왔다 이슬 처럼 갈 수 없어<br/>You Know?</div>
        </div></li>

        <li><div class="tem3_txt">
            <div class="tem3_img"><img src="/images/template3/bottom_ability_icon.png" style="width: 150px"/></div>
            <div class="tem3_header">visual experience design</div>
            <div class="tem3_article">한번뿐인 인생 이렇게 살 수 없어<br/>바람처럼 왔다 이슬 처럼 갈 수 없어<br/>You Know?</div>
        </div></li>
        </ul>
    </div>

    <div id="tem3_item2">
        <ul id="tem3_ul">
            <li id="tem3_li">
                <div id="tem3_txt_item">
                    <img id="tem3_img2" src="/images/template3/bottom_myphoto.png" style="width: 500px" />
                    <div class="tem3_txt2">You better lose yourself in the music, the moment</div>
                    <div class="tem3_txt2">You only get one shot, do not miss your chance to blow</div>
                    <div class="tem3_txt2">This opportunity comes once in a lifetime yo</div>
                    <div class="tem3_txt2">You better lose yourself in the music, the moment</div>
                    <div class="tem3_txt2">You own it, you better never let it go</div>
                    <div class="tem3_txt2">You only get one shot, do not miss your chance to blow</div>
                </div>
            </li>
            <li id="tem3_li">
                <div>
                    <form id="tem3_email_item">
                        <ul>
                            <li><label><input maxlength="40" type="text" placeholder="Name" style="width: 470px"></label></li>
                            <li><label><input type="email" placeholder="Email" style="width: 470px "></label></li>
                            <li><label><input type="text" placeholder="Subject" style="width: 470px"></label></li>
                            <li><label><textarea cols="43" rows="8" placeholder="Messages" ></textarea></label>
                            <input type="submit" value="send" id="submitbutton" style="float: right"></li>
                        </ul>
                    </form>
                </div>
            </li>
        </ul>
    </div>





</div>

<div class="footer">
    <span>Made in Jenninfer, With Myfolio.com</span>
</div>
</body>
<% include ../CommonLib.ejs %>
<script src="/javascripts/template/template3.js"></script>
</html>
