<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/template/common.css"/>
    <link rel="stylesheet" href="/stylesheets/template/template3.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <script src="/javascripts/template/template1.js"></script>
    <style>
        nav{
            background-color: #11171C;
        }

        nav ul{
            list-style-type:none;
            align: center;
        }

        nav ul li{
            display: inline;
            margin: 15px;
        }


        nav ul li a{
            color:#ffffff;
            text-decoration:none;
            text-transform: uppercase;
        }
    </style>
</head>

<body>
    <header>
        <% include toolbar.ejs %>
        <nav>
            <ul>
                <li><a href="#first">Home</a></li>
                <li><a href="#second">Portfolio</a></li>
                <li><a href="#third">contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="first">

    </div>
    <div class="second">
        <div class="sec_comment is-view-mode">
            <br/><br/>
            IT'S MY FOLIO<br/><br/>
            로맨틱, <strong>성공적</strong>, 환상적
            <br/><br/>
        </div>

        <div class="sec_picture_box">
            <div class="sec_firstPhoto">
                <img class="sec_firstPhoto" src="/images/template3/middle_folio_pic_01.png"/>
                <img class="sec_secondPhoto" src="/images/template3/middle_folio_pic_02.png"/>
                <img class="sec_thirdPhoto" src="/images/template3/middle_folio_pic_03.png"/>
            </div>
            <div class="sec_fourthPhotos">
                <ul>
                    <li><img src="/images/template3/middle_folio_pic_04.png" style="width: 240px"/></li>
                    <li><img src="/images/template3/middle_folio_pic_05.png" style="width: 240px"/></li>
                    <li><img src="/images/template3/middle_folio_pic_06.png" style="width: 240px"/></li>
                    <li><img src="/images/template3/middle_folio_pic_07.png" style="width: 240px"/></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="third">

    </div>


</body>

</html>
