<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/template/common.css"/>
    <link rel="stylesheet" href="/stylesheets/template/template3.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <script src="/javascripts/template/template1.js"></script>
</head>

<body>

    <% include toolbar.ejs %>
    <nav>
        <div class="common-nav-menu">
            <div class="common-nav-title is-view-mode">
                <a class="nav-title-item">Home</a>
                <a class="nav-title-item">Portfolio</a>
                <a class="nav-title-item">Contact</a>
            </div>
        </div>
    </nav>

    <div class="common-page-container">
        <div class="home-content-container">
            <div class="home-title is-view-mode">
                Hello :)
            </div>
        </div>

        <div class="home-image-container is-view-mode">
            <div class="home-image-box">

            </div>
        </div>
    </div>

    <footer>
        <div class="common-footer-menu">
            <div class="common-footer-title is-view-mode">
                <div>Footer Contents</div>
            </div>
        </div>
    </footer>
</body>

</html>
