<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/template/common.css"/>
    <link rel="stylesheet" href="/stylesheets/template/template3.css"/>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/lightbox2/css/lightbox.css">
</head>

<body>
<div id="template3_header">
    <% include ../Toolbar.ejs %>
    <nav>
        <ul class="template-nav-title is-view-mode view-item-parent">
            <li><a href="#first"><div class="nav_title_item" >Home</div></a></li>
            <li><a href="#second"><div class="nav_title_item" >Portfolio</div></a></li>
            <li><a href="#third"><div class="nav_title_item" >contact</div></a></li>
        </ul>
    </nav>
</div>
<div class="first">
    <div class="fir_comment is-view-mode view-item">
        <p></p>
        <p>I'M FUCKING COOL SIC</p>
        <p>SICK GEEK NOTORIOUS</p>
        <p></p>
    </div>
    <textarea class="fir_comment is-edit-mode edit-item hide">

        I'M FUCKING COOL SIC
        SICK GEEK NOTORIOUS

    </textarea>
    <div class="fir_img_div">
        <div class="img_base">
            <div id="imgs" class="imgs">
                <img id="left_btn" src="/images/template3/top_mac_arrow_l.png"/>
                <img id="right_btn" src="/images/template3/top_mac_arrow_r.png"/>
            </div>
        </div>
    </div>
</div>
<div class="second">
    <div class="sec_comment is-view-mode">
        <p> </p>
        <p>IT'S MY FOLIO</p>
        <p>로맨틱, <strong>성공적</strong>, 환상적</p>
        <p> </p>
    </div>

    <div class="sec_picture_box">
        <div class="sec_firstPhoto">
            <img class="sec_firstPhoto" src="/images/template3/middle_folio_pic_01.png"/>
            <img class="sec_secondPhoto" src="/images/template3/middle_folio_pic_02.png"/>
            <img class="sec_thirdPhoto" src="/images/template3/middle_folio_pic_03.png"/>
        </div>
        <div class="sec_fourthPhotos">
            <ul>
                <li><img src="/images/template3/middle_folio_pic_04.png" style="width: 240px"/></li>
                <li><img src="/images/template3/middle_folio_pic_05.png" style="width: 240px"/></li>
                <li><img src="/images/template3/middle_folio_pic_06.png" style="width: 240px"/></li>
                <li><img src="/images/template3/middle_folio_pic_07.png" style="width: 240px"/></li>
            </ul>
        </div>
    </div>

</div>
<div class="third">

</div>

<div class="footer">
    <span>Made in Jenninfer, With Myfolio.com</span>
</div>
</body>
<% include ../CommonLib.ejs %>
<script src="/javascripts/template/template3.js"></script>
</html>
