<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/template/template1.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <script src="/javascripts/template/template1.js"></script>
</head>

<body>
    <% include toolbar.ejs %>

    <div class="page1">
    <img class="home-image" src="/images/template1/temp_01_bg.png" />
    <nav>
        <div class="menu-box">
            <div class="common-nav-menu">
                <div class="common-nav-title is-view-mode">
                    <a class="nav-title-item">Home</a>
                    <a class="nav-title-item">Portfolio</a>
                    <a class="nav-title-item">Contact</a>
                </div>
                <div class="common-nav-title is-edit-mode hide">
                    <input type="text" value="Home">
                    <input type="text" value="Portfolio">
                    <input type="text" value="Contact">
                </div>
            </div>
        </div>
        <div class="menu-box2">
            <img class="bottom-image1" src="/images/template1/main_folio_img_01.png" />
            <img class="bottom-image2" src="/images/template1/main_folio_img_02.png" />
            <img class="bottom-image3" src="/images/template1/main_folio_img_03.png" />
            <img class="bottom-image4" src="/images/template1/main_folio_img_04.png" />
        </div>
    </nav>


    <div class="common-page-container">
        <div class="home-content-container">
            <div class="home-title is-view-mode">
                Hello :)
            </div>
            <div class="sub-title is-view-mode">
                I'm Nicolas Lowe. Web & Graphic Designer.
            </div>
        </div>

        <div class="home-image-container is-view-mode">
            <div class="home-image-box">
            </div>

        </div>
    </div>
    </div>


    <div class="page2">
        <div class="page2-menu-box">
            <img class="small-left" src="/images/template1/temp_middle_arrow_l.png" />
            <img class="page2-top-image1" src="/images/template1/main_folio_img_01.png" />
            <img class="page2-top-image2" src="/images/template1/main_folio_img_02.png" />
            <img class="page2-top-image3" src="/images/template1/main_folio_img_03.png" />
            <img class="page2-top-image4" src="/images/template1/main_folio_img_04.png" />
            <img class="page2-top-image5" src="/images/template1/main_folio_img_01.png" />
            <img class="page2-top-image6" src="/images/template1/main_folio_img_02.png" />
            <img class="page2-top-image7" src="/images/template1/main_folio_img_03.png" />
            <img class="page2-top-image8" src="/images/template1/main_folio_img_04.png" />
            <img class="small-right" src="/images/template1/temp_middle_arrow_r.png" />
        </div>

        <div class="page2-mainpage">
            <img class="big-left" src="/images/template1/temp_middle_view_arrow_l.png" />
            <img class="big-right" src="/images/template1/temp_middle_view_arrow_r.png" />
                <div class="text-box" >
                    <a class="Big-title-item">Project Page 3</a>
                    <a class="Small-title-item1">I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click 'Edit Text' or</a>
                    <a class="Small-title-item2">double click me to add your own content and make changes to the font. I'm a great place for you to </a>
                    <a class="Small-title-item3">tell a story and let your users know a little more about you.</a>
                </div>
            <img class="page2-main-image" src="/images/template1/second_page_main.png" />
        </div>

    </div>

    <div class="page3">
        <a class="page3-Big-1">Let's work together.</a>
        <a class="page3-Small-1">I'm a paragraph. Click here to add your own text and edit me. It's easy. Just click 'Edit Text' or</a>
        <a class="page3-Small-2">double click me to add your own content and make changes to the font. I'm a great place for you to</a>
        <a class="page3-Small-3">tell a story and let your users know a little more about you.</a>


            <div class="page3-menu">
                <div class="page3-menu-box1">
                    <a class="name">NAME</a>
                </div>
                <div class="page3-menu-box2">
                    <a class="email">EMAIL</a>
                </div>
                <div class="page3-menu-box3">
                    <a class="messages">MESSAGES</a>
                </div>

            </div>

        <div class="image">
            <img class="facebook" src="/images/template1/bottom_contact_fb.png" />
            <img class="twitter" src="/images/template1/bottom_contact_tw.png" />
            <img class="google" src="/images/template1/bottom_contact_gp.png" />
        </div>
    </div>



    <footer>
        <div class="common-footer-menu">
            <div class="common-footer-title is-view-mode">
                <div>Made in Ashlee, with Myfolio.com</div>
            </div>
        </div>
    </footer>
</body>

</html>
