<% if (typeof isOwner !== "undefined" && isOwner === true) { %>
<div id="template_editor">
    <div class="nav-menu-container"></div>
    <div class="right-btn-container">
        <button type="button" class="is-view-mode">Save</button>
        <button type="button" class="is-edit-mode hide">Modify</button>
    </div>
    <div class="left-nav-container">

    </div>
</div>
<% } %>